@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Rubik+Distressed&display=swap');

:root{
  --color-primary-100: #B3F38C;
  --color-primary-200: #95EE5E;
  --color-primary-300: #76E92F;
  --color-primary-400: #5DD016;
  --color-primary-500: #48A111;
  --color-primary-600: #34730C;
  --color-primary-700: #1F4507;
  --color-primary-800: #0A1702;

  --color-neutral-white: #F7F7F7;
  --color-neutral-black: #030303;

  --font-family-primary: 'Rubik Distressed', sans-serif;
  --font-family-logo: 'Exo 2', sans-serif;
} 